<!DOCTYPE html>
<html lang="en">
<head>
    <title>Resources - Bauxite</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/aesthetic.css">
</head>

<body class="aesthetic-bg-gradient">
    
    <div class="aesthetic-windows-95-container" style="width: 1200px; height: 150px; position: absolute; left: 50%; transform: translate(-50%, 0%); box-shadow: 5px 5px 0 0 #0000004e;">
        <div class="aesthetic-font aesthetic-font-modifier-outline-purple" style="position: absolute; background-color: #91e4ff; width: 1200px; height: 150px;">
            <h1 style="transform: translate(50%, 25%); width: 50%; text-align: center; font-size: 300%;" class="aesthetic-effect-text-glitch" data-glitch="Resources">Resources</h1>
        </div>
    </div>

    <div style="position: relative; height: 900px;">
        <div style="position: absolute; top: 75%; left: 50%; transform: translate(-50%, 125%); width: 500px; height: 50px;">

            <div style="transform: translate(-50%, -1235%);">
                <div class="aesthetic-windows-95-button" style="width: 150px; height: 50px;">
                    <div class="aesthetic-font aesthetic-font-modifier-outline-black" style="background-color: #ffbdec; width: 150px; height: 50px; font-size: larger;">
                        <button class="aesthetic-font-modifier-outline-black" style="width: 150px; height: 50px;" onclick="location.href='/';">
                            Home
                        </button>
                    </div>
                </div>
            </div>

            <div class="aesthetic-windows-95-container" style="width: 1500px; height: 610px; position: absolute; left: 50%; transform: translate(-50%, -95%); box-shadow: 5px 5px 0 0 #0000004e;">
                <div class="aesthetic-font aesthetic-font-modifier-outline-black" style="position: absolute; background-color: #ffbdec; width: 1500px; height: 610px;">
                    <div style="transform: translate(2%, 0%); width: 750px;">
                        <p>Recycling is an important practice that helps to reduce the amount of waste that ends up in landfills and the environment. According to the our statistical analyses, in 2010, the world generated over thirty million tons of mismanaged waste, which increased to sixty one million tons in 2019. This is equivalent to the weight of the Empire State Building times eighty three. This demonstrates the need for better waste management practices, including recycling.<br>
                            Recycling helps to conserve natural resources by reducing the need to extract raw materials from the environment. For example, recycling one ton of paper can save 17 trees, 7,000 gallons of water, 3 cubic yards of landfill space, and 4,000 kilowatts of energy. Recycling also reduces greenhouse gas emissions by conserving energy and reducing the amount of waste that is burned or buried in landfills, which can release harmful pollutants into the environment.<br>
                            Despite the benefits of recycling, many cities still struggle to properly manage their waste. In New York City, for example, between 2016 and 2019, 82% - 83% of recyclable materials ended up in the trash, which represents a missed opportunity to conserve resources and reduce greenhouse gas emissions.</p>
                            <img src="dataViz.png" alt="Recycling and Pollution Graphs">
                            
                            <p>To improve recycling rates and reduce waste, it is important for individuals, businesses, and governments to prioritize waste management practices that prioritize recycling and other sustainable practices. This can include implementing recycling programs, reducing waste through composting and other methods, and educating the public on the importance of recycling and sustainable waste management practices.<br>
                            In conclusion, recycling is an important practice that can help to reduce waste and conserve natural resources. Despite the challenges that many cities face in managing their waste, prioritizing recycling and other sustainable waste management practices can help to reduce greenhouse gas emissions, conserve natural resources, and protect the environment.<br>
                            Citations<br>
                            koustubhk. (n.d.). Mismanaged plastic waste around the world. Retrieved April 8, 2023. <br>
                            NYC Recycling Diversion and Capture Rates. (n.d.). NYC Recycling Diversion and Capture Rates | Kaggle. https:///datasets/new-york-city/nyc-recycling-diversion-and-capture-rates<br>
                            WaRP - Waste Recycling Plant Dataset. (n.d.). WaRP - Waste Recycling Plant Dataset | Kaggle. https:///datasets/parohod/warp-waste-recycling-plant-dataset<br>
                            Turner, A. and Gomez, D. (Nov. 6, 2020). A vaporwave CSS framework | Github. https://github.com/torch2424/aesthetic-css
                            </p>
                            
                            
                    </div>

                    <div style="transform: translate(100%, -125%); width: 750px;">
                        <img src="/static/images/dataViz.png" alt="% Average Recycling Rate by Fiscal Year" style="max-width: 700px; display: block; margin-left: auto; margin-right: auto;"/><br/>
                    </div>

                </div>
            </div>
            

        </div>
    </div>

</body>
</html>